<app-form-layout></app-form-layout>
<!--<kendo-grid [data]="gridData">-->
<!--  <kendo-grid-column field="UserName">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex"-->
<!--    >-->
<!--      Имя пользователя-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column field="UserGender">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex"-->
<!--    >-->
<!--      Пол-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column field="DateBirth">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex">-->
<!--     Дата рождения-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column field="DirectionLearning">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex">-->
<!--      Направление обучения-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column field="StartDate">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex">-->
<!--      Дата начала обучения-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column field="EndDate">-->
<!--    <ng-template-->
<!--      kendoGridHeaderTemplate-->
<!--      let-column-->
<!--      let-columnIndex="columnIndex">-->
<!--      Дата конца обучения-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--</kendo-grid>-->

