<button (click)="clickAddUsers()" type="button" class="btn-add btn-add__main" (click)="openModal()">Добавить
  пользователя
</button>

<kendo-grid
  [data]="userData"
  (remove)="deleteUsers($event.dataItem)"
  (edit)="onEdit($event.dataItem)">
  <kendo-grid-column field="name" title="Имя"></kendo-grid-column>
  <kendo-grid-column field="gender.text" title="Пол"></kendo-grid-column>
  <kendo-grid-column field="birthdate" title="Дата рождения">{{userData | kendoDate: "dd/MM/yyyy"}} </kendo-grid-column>
  <kendo-grid-column field="direction.text" title="Направлениe обучения"></kendo-grid-column>
  <kendo-grid-column field="startdate" title="Дата старта обучения"></kendo-grid-column>
  <kendo-grid-column field="enddate" title="Дата окончания обучения"></kendo-grid-column>
  <kendo-grid-command-column class="button-container" title="Обновить/удалить">
    <ng-template kendoGridCellTemplate>
      <button class="btn-add" kendoGridEditCommand (click)="openModal()">Edit</button>
      <button class="btn-add" kendoGridRemoveCommand>Remove</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<div class="form__container" *ngIf="isModalDialogVisible">
  <form class="k-form" [formGroup]="userForm" (ngSubmit)="submit()">

    <kendo-formfield class="form-control">
      <kendo-label [for]="UserName" text="Имя пользователя"></kendo-label>
      <input class="form-input" formControlName="name" kendoTextBox #UserName/>
      <div *ngIf="userForm.get('name').invalid && userForm.get('name').touched" class="validation">
        <small *ngIf="userForm.get('name').errors.required">
          Поле имя не может быть пустым
        </small>
        <small *ngIf="userForm.get('name').errors.minlength">
          Имя должно быть не меньше {{userForm.get('name').errors.minlength.requiredLength}} символов.
        </small>
        <small *ngIf="userForm.get('name').errors.maxlength">
          Имя должно быть не больше {{userForm.get('name').errors.maxlength.requiredLength}} символов.
        </small>
      </div>
    </kendo-formfield>

    <kendo-formfield class="form-control">
      <kendo-label [for]="gender" text="Выберите пол"></kendo-label>
      <kendo-dropdownlist class="form-input"
                          #gender
                          [data]="genders"
                          [defaultItem]="{ text: 'Выберите пол', value: 'null'}"
                          [textField]="'text'"
                          [valueField]="'value'"
                          formControlName="gender"
                          required>
      </kendo-dropdownlist>
      <div *ngIf="userForm.get('gender').invalid && userForm.get('gender').touched" class="validation">
        <small *ngIf="userForm.get('gender').errors.required">
          Поле пол не может быть пустым,сделайте Ваш выбор
        </small>
      </div>
    </kendo-formfield>

    <kendo-formfield class="form-control">
      <kendo-label [for]="BirthDate" text="Введите дату рождения"></kendo-label>
      <input class="form-input" formControlName="birthdate" placeholder="Type in your birth date..." type="date"
             kendoTextBox #BirthDate>
      <div *ngIf="userForm.get('birthdate').touched">
        <small *ngIf="userForm.errors?.comparisonDate" class="validation">
         <span class="error">Дата рождения не может быть позже <br>даты начала обучения и даты конца обучения  </span>
        </small>
      </div>
    </kendo-formfield>


    <kendo-formfield class="form-control">
      <kendo-label [for]="direction" text="Направление обучения"></kendo-label>
      <kendo-dropdownlist class="form-input"
                          #direction
                          [data]="directions"
                          [defaultItem]="{ text: 'Выберите направление обучения', value: 'null'}"
                          [textField]="'text'"
                          [valueField]="'value'"
                          formControlName="direction"
                          required
                          (valueChange)="onDirectionChange()">
      </kendo-dropdownlist>
      <div *ngIf="userForm.get('direction').invalid && userForm.get('direction').touched" class="validation">
                <small *ngIf="userForm.get('direction').errors.required">
                  Поле направление обучения не может быть пустым,сделайте Ваш выбор
                </small>
              </div>
    </kendo-formfield>

    <kendo-formfield class="form-control">
      <kendo-label [for]="StartDate" text="Введите дату начала обучения"></kendo-label>
      <input formControlName="startdate" class="form-input" placeholder="Type in your start date..." type="date"
      kendoTextBox #StartDate>
      <div *ngIf="userForm.get('startdate').touched">
        <small *ngIf="userForm.errors?.comparisonDate" class="validation">
          <span
            class="error">Дата начала обучения не может быть раньше  <br>даты рождения или позже даты конца обучения</span>
        </small>
      </div>
    </kendo-formfield>

    <kendo-formfield class="form-control">
      <label class="form-label">Дата конца обучения</label>
      <input type="date" class="form-input" formControlName="enddate">
      <div *ngIf="userForm.get('enddate').touched">
        <small *ngIf="userForm.errors?.comparisonDate" class="validation">
          <span class="error">Дата конца обучения не может быть раньше <br> даты рождения или даты начала обучения.</span>
        </small>
      </div>
      <div *ngIf="userForm.get('direction').touched">
        <div *ngIf="userForm.get('enddate').hasError('required')" class="validation">
          <small>Дата конца обучения обязательна для заполнения</small>
        </div>
      </div>
    </kendo-formfield>

    <div class="button-container">
      <button class="btn-add" type="submit" (click)="closeModal()">Отмена</button>
            <button type="button" *ngIf="isAddingState; else updateClick" (click)="postUsersDetails()" class="btn-add"  type="submit" [disabled]="userForm.invalid">Добавить</button>
      <ng-template #updateClick>
        <button type="button" (click)="updateUsers()" class="btn-add" type="submit" [disabled]="userForm.invalid">Обновить</button>
      </ng-template>
    </div>
  </form>
</div>
